.sidenav-container {
  width: 200px;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 12px;
}
.nav-link {
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}
.nav-link li {
  margin-bottom: 10px;
}

.social-icon {
  width: 23px;
  margin-right: 4px;
}
.sidenav-active {
  background-color: #252525;
}
.tab-active {
  color: white;
}
